@page "/add-class"
@inject HttpClient Http
@using MyProject.Components;
@inject ILocalStorageService LocalStorage

<PageTitle>Add Class</PageTitle>

<InputText @bind-Value="className"/>
<AddStudents @ref="addStudentsComponentReference"/>

<button @onclick="AddNewClass">Add new Class</button>


@code
{
    private AddStudents addStudentsComponentReference = null!;

    private Func<Task> SearchForStudent { get; set; } = null!;

    private string className { get; set; }

    private async Task AddNewClass()
    {
        ValueTask<Teacher> teacher = LocalStorage.GetItemAsync<Teacher>("user");

        Class _class = new Class { Name = className, Students = addStudentsComponentReference.Students };

        var response = await Http.PostAsJsonAsync<Class>($"https://localhost:7053/Teacher/{(await teacher).Id}/Classes", _class);

        addStudentsComponentReference.Students.Clear();

        await addStudentsComponentReference.SearchForStudentsFunc();

        StateHasChanged();
    }
}