@page "/"
@using System.Text.Json
@inject NavigationManager NavManager
@inject HttpClient Http
@inject ILocalStorageService LocalStorage;

<PageTitle>Login</PageTitle>

<h1 style="font-family:'Cascadia Code'">Login</h1>

<LoginComponent TUser="Teacher"/>
<LoginComponent TUser="Student"/>