@page "/sign-up"

<PageTitle>Sign Up</PageTitle>

<h1 style="font-family:'Cascadia Code'">Sign Up</h1>

@*
    This uses two instances of a generic component that provide sign up forms.
    The first allows the teacher to sign up and the second allows the student to sign up.
*@
<SignUpComponent TUser="Teacher"/>
<SignUpComponent TUser="Student"/>