@page "/teacher-homepage"
@inject NavigationManager NavManager

<PageTitle>Homepage</PageTitle>

@*Creates a list of links for the teacher to navigate around the project. *@
<div style="display: grid">
    <NavLink href="/upload-papers">
        Upload Papers
    </NavLink>
    <NavLink href="/view-classes-assignments">
        View Classes/Assignments
    </NavLink>
</div>