@page "/teacher-homepage"
@inject NavigationManager NavManager

<PageTitle>Homepage</PageTitle>

<div style="display: grid">
    <NavLink href="/upload-papers">
        Upload Papers
    </NavLink>
    <NavLink href="/view-classes-assignments">
        View Classes/Assignments
    </NavLink>
    <NavLink href="/search-questions">
        Search Questions
    </NavLink>
    <NavLink href="/view-tests">
        View Tests
    </NavLink>
    <NavLink href="/view-mark-schemes">
        View Mark Schemes
    </NavLink>
    <NavLink href="/user-management">
        User Management
    </NavLink>
</div>