@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage

<div class="page">
    <main>
        <div class="top-row px-4">
            <p class="navbar-text">@username</p>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string? username = null;

    protected override async Task OnInitializedAsync()
    {
        LocalStorage.Changed += (sender, e) =>
        {
            if (e.Key != "user")
            {
                return;
            }

            username = ((User)e.NewValue).Name;
        };

        await base.OnInitializedAsync();
    }
}